@{
    ViewBag.Title = "RunBooks";
}

<div>
    <h4>RunBooks</h4>
    <hr />
    @Html.ValidationSummary(true)

    @if (ViewBag.Jobs.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>RunBook Name</th>
                <th>JobId</th>
                <th>Status</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>Outputs</th>
            </tr>
            @{ int count = 0; }
            @foreach (var job in ViewBag.Jobs)
            {
                <tr>
                    <td>@job.Properties.RunBook.Name</td>
                    <td>@job.Properties.JobId</td>
                    @{
                        var state = job.Properties.Status;
                    }
                    @if (state == "Completed")
                    {
                        <td class="successed-status">@state</td>
                    }
                    else if (state == "Failed")
                    {
                        <td class="failed-status">@state</td>
                    }
                    else
                    {
                        <td class="other-status">@state</td>
                    }
                    <td>
                        @if (job.Properties.StartTime != null)
                        {
                            @job.Properties.StartTime.ToString("MM/dd/yyyy hh:mm")
                        }
                    </td>
                    <td>
                        @if (job.Properties.EndTime != null)
                        {
                            @job.Properties.EndTime.ToString("MM/dd/yyyy hh:mm")
                        }
                    </td>
                    <td>
                        <a class="btn btn-primary show-button" data-toggle="modal" data-target="#outputsModal">
                            Show Outputs
                            <p id="output-@count" style="display: none;">
                                @job.Outputs
                            </p>
                        </a>
                    </td>
                </tr>
                count++;
            }
        </table>
    }
    else
    {
        <p>No RunBooks to display</p>
    }
    
    @{
        Html.RenderPartial("_Modal");
    }
</div>

@section scripts
{
    <script>
        if (!window.jQuery) {
            console.error("jQuery is not defined");
        } else {
            (function ($) {
                $('.show-button').click(function (event) {
                    $('#myModal').modal('show');
                    $('#myModalLabel').text('Outputs');
                    $('#outputsModalBody').val($.trim(event.target.children[0].innerText));
                });
                setInterval(function () {
                    window.location.reload();
                }, 35000);
                $.ajaxSetup({ cache: false });
            })(window.jQuery);
        }
    </script>
}
