
@model ServiceCatalog.Models.InvoicesViewModel

@{
    ViewBag.Title = "Billing";
}

<div>
    <h4>Billing View</h4>
    <hr />
    @Html.ValidationSummary(true)
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Name</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Report Url</th>
        </tr>
        @foreach (var invoice in ViewBag.Invoices)
        {
            <tr>
                <td>@invoice.Name</td>
                <td>@invoice.InvoicePeriodStartDate</td>
                <td>@invoice.InvoicePeriodEndDate</td>
                <td>
                    <div class="col-md-3">
                        <a class="btn btn-primary" href="@invoice.DownloadUrl" target="_blank">Download</a>
                    </div> 
                </td>
            </tr>
        }
    </table>
</div>