@using System.Security.Claims

@{
    ViewBag.Title = "Deployments";
}

<div>
    <div style="display:  flex; justify-content: space-between;">
        <h4>Deployments</h4>
        <button class="btn btn-primary" style="height: 10%;" onclick="window.location.reload();">Refresh</button>
    </div>
    <hr />
    @Html.ValidationSummary(true)

    @if (ViewBag.Deployments.Count > 0)
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Template Name</th>
                <th>Deployment Name</th>
                <th>Subscription Name</th>
                <th>Version</th>
                <th>Status</th>
                <th>Time</th>
                <th>Owner</th>
                <th>Outputs</th>
                <th>Logs</th>
            </tr>
            @{ int count = 0; }
            @foreach (var deployment in ViewBag.Deployments)
            {
                <tr>
                    <td>@deployment.TemplateName</td>
                    <td>@deployment.DeploymentName</td>
                    <td title="@deployment.SubscriptionId">@deployment.SubscriptionName</td>
                    <td>@deployment.TemplateVersion</td>
                    @{
                        var state = deployment.ProvisioningState;
                    }
                    @if (state == "Succeeded")
                    {
                        <td id="@deployment.DeploymentName" class="successed-status">@state</td>
                    }
                    else if (state == "Failed")
                    {
                        <td id="@deployment.DeploymentName" class="failed-status">@state</td>
                    }
                    else
                    {
                        <td id="@deployment.DeploymentName" class="other-status">@state</td>
                    }
                    <td>@deployment.Timestamp.ToString("MM/dd/yyyy hh:mm")</td>
                    <td title="@deployment.Owner">@deployment.Owner.Substring(0, deployment.Owner.IndexOf("@"))</td>
                    <td>
                        <a class="btn btn-primary show-button" data-toggle="modal" data-target="#outputsModal">
                            Show Outputs
                            <p id="output-@count" style="display: none;">
                                @deployment.Outputs
                            </p>
                        </a>
                    </td>
                    <td>
                        @Html.ActionLink("Download Log", "GetLogFile", "Deployment",
                                 new { fileName = @ViewBag.FileLogName },
                                 new { @class = "btn btn-danger" })
                    </td>
                </tr>
                count++;
            }
        </table>
    }
    else
    {
        <p>No deployments to display</p>
    }

    <div class="modal fade" id="outputsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 500px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Outputs</h4>
                </div>
                <div class="modal-body">
                    <textarea readonly id="outputsModalBody" rows="10" style="width: 100%">
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        if (!window.jQuery) {
            console.error("jQuery is not defined");
        } else {
            (function ($) {

                $('.show-button').click(function (event) {
                    $('#myModal').modal('show');
                    $('#outputsModalBody').val($.trim(event.target.children[0].innerText));
                });

                requestAsyncOpStatus();
                function requestAsyncOpStatus() {
                    let runnungDeployments = $('.other-status');
                    let status = false;
                    for (let j = 0; j < runnungDeployments.length; j++) {
                        if (runnungDeployments[j].innerText == "Running") {
                            status = true;
                        }
                    }

                    if (status) {
                        setTimeout(requestAsyncOpStatus, 15000);
                    }
                }

            })(window.jQuery);
        }
    </script>
}
